  <section class="content-preview-wrapper">
    <div class="content-preview-header">
      <div>
        <img class="icon-starburst" alt="" id="rotateOnScroll" src="./assets/img/icons/starburst.svg"></img>

        <h2>See what’s inside</h2>
        <p>Eight chapters of delicious detail.</p>
      </div>

      <a href="https://theinterviewkit.lemonsqueezy.com/checkout/buy/d2834f66-cbe3-4dba-b19b-c747c1b3246f?embed=1&dark=1" class="lemonsqueezy-button"><button class="primary-button">Read a preview →</button></a>

    </div>

    <div class="chapter-preview">

      <div class="chapter">
        <img alt="Thumbnail for a design portfolio chapter" src="/assets/img/images/thumb-designportfolio.png">
        <h3>Build the portfolio</h3>
        <ul>
          <li>What forms do portfolios take?</li>
          <li>Who are they for, and what should they do?</li>
          <li>What great portfolios need</li>
          <li>Resource: Portfolio inspiration</li>
          <li>Selecting case studies</li>
          <li>Writing case studies</li>
          <li>Resource: Case study inspiration</li>
        </ul>
      </div>

      <div class="chapter">
        <img alt="Thumbnail for a case study chapter" src="/assets/img/images/thumb-casestudy.png">
        <h3>Craft the case study</h3>
        <ul>
          <li>What forms do portfolios take?</li>
          <li>Who are they for, and what should they do?</li>
          <li>What great portfolios need</li>
          <li>Resource: Portfolio inspiration</li>

        </ul>
      </div>


      <div class="chapter">
        <img alt="Thumbnail for a resume chapter" src="/assets/img/images/thumb-resume.png">
        <h3>Write the resume</h3>
        <ul>
          <li>What forms do portfolios take?</li>
          <li>Who are they for, and what should they do?</li>
          <li>What great portfolios need</li>
          <li>Resource: Portfolio inspiration</li>

        </ul>
      </div>


      <div class="chapter">
        <img alt="Thumbnail for a chapter about applying to jobs" src="/assets/img/images/thumb-applying.png">
        <h3>Find & apply to jobs</h3>
        <ul>
          <li>What forms do portfolios take?</li>
          <li>Who are they for, and what should they do?</li>
          <li>What great portfolios need</li>
          <li>Resource: Portfolio inspiration</li>

        </ul>
      </div>

      <div class="chapter">
        <img alt="Thumbnail for a behavioral interview chapter" src="/assets/img/images/thumb-behavioralinterview.png">
        <h3>Tackle the behavioral interview</h3>
        <ul>
          <li>What forms do portfolios take?</li>
          <li>Who are they for, and what should they do?</li>
          <li>What great portfolios need</li>
          <li>Resource: Portfolio inspiration</li>
        </ul>
      </div>


      <div class="chapter">
        <img alt="Thumbnail for a technical interview chapter" src="/assets/img/images/thumb-technicalinterview.png">
        <h3>Solve the technical interview</h3>
        <ul>
          <li>What forms do portfolios take?</li>
          <li>Who are they for, and what should they do?</li>
          <li>What great portfolios need</li>
          <li>Resource: Portfolio inspiration</li>

        </ul>
      </div>

      <div class="chapter">
        <img alt="Thumbnail for a portfolio presentation chapter" src="/assets/img/images/thumb-portfoliopresentation.png">
        <h3>Present the portfolio</h3>
        <ul>
          <li>What forms do portfolios take?</li>
          <li>Who are they for, and what should they do?</li>
          <li>What great portfolios need</li>
          <li>Resource: Portfolio inspiration</li>
        </ul>
      </div>


      <div class="chapter">
        <img alt="Thumbnail for a chapter with closing thoughts and additional resources" src="/assets/img/images/thumb-portfoliopresentation.png">
        <h3>Closing thoughts & additional resources</h3>
        <ul>
          <li>What forms do portfolios take?</li>
          <li>Who are they for, and what should they do?</li>
          <li>What great portfolios need</li>
          <li>Resource: Portfolio inspiration</li>
        </ul>
      </div>


    </div>


  </section>
