  <section class="content-preview-wrapper">
    <div class="content-preview-header">
      <div>
        <img class="icon-starburst" alt="" id="rotateOnScroll" src="./assets/img/icons/starburst.svg"></img>

        <h2>See what’s inside</h2>
        <p>Eight chapters of delicious detail.</p>
      </div>

      <div style="display: flex; flex-direction: column; gap: 20px;">
        <a href="https://www.figma.com/community/file/1268352321000064567" ><button class="primary-button">Download on Figma →</button></a>
      </div>

    </div>

    <div class="chapter-preview">

      <div class="chapter">
        <img alt="Thumbnail for a design portfolio chapter" src="/assets/img/images/thumb-designportfolio.png">
        <h3>Build the portfolio</h3>
        <ul>
          <li>Tools for building portfolios</li>
          <li>Why portfolios are important</li>
          <li>What makes a portfolio great</li>
          <li>Who portfolios are for</li>
          <li>50+ inspiring portfolios</li>
        </ul>
      </div>

      <div class="chapter">
        <img alt="Thumbnail for a case study chapter" src="/assets/img/images/thumb-casestudy.png">
        <h3>Craft the case study</h3>
        <ul>
          <li>How to choose your projects</li>
          <li>Writing compelling stories</li>
          <li>Visualizing the work</li>
          <li>Example case study breakdowns</li>
          <li>Case study inspiration</li>
        </ul>
      </div>

      <div class="chapter">
        <img alt="Thumbnail for a portfolio presentation chapter" src="/assets/img/images/thumb-portfoliopresentation.png">
        <h3>Portfolio presentations</h3>
        <ul>
          <li>Introducing yourself</li>
          <li>Selecting projects to present</li>
          <li>Structuring the presentation</li>
          <li>Presentation slide examples</li>
          <li>How you’re evaluated</li>
        </ul>
      </div>


      <div class="chapter">
        <img alt="Thumbnail for a resume chapter" src="/assets/img/images/thumb-resume.png">
        <h3>Resumes & cover letters</h3>
        <ul>
          <li>Communicating projects and work experience</li>
          <li>Tips on clear & concise writing</li>
          <li>Nailing the visual design</li>
          <li>Examples & breakdowns</li>
          <li>Writing cover letters</li>
        </ul>
      </div>


      <div class="chapter">
        <img alt="Thumbnail for a chapter about applying to jobs" src="/assets/img/images/thumb-applying.png">
        <h3>Find & apply to jobs</h3>
        <ul>
          <li>Where to find design jobs</li>
          <li>Assessing potential job fit</li>
          <li>Determining where to apply</li>
          <li>Avoiding the ‘cold apply’</li>
          <li>Staying sane while applying</li>
        </ul>
      </div>

      <div class="chapter">
        <img alt="Thumbnail for a behavioral interview chapter" src="/assets/img/images/thumb-behavioralinterview.png">
        <h3>Tackle the behavioral interview</h3>
        <ul>
          <li>Types of interviews you'll face & why</li>
          <li>Methods of answering questions</li>
          <li>Extensive example questions for each interview</li>
        </ul>
      </div>


      <div class="chapter">
        <img alt="Thumbnail for a technical interview chapter" src="/assets/img/images/thumb-technicalinterview.png">
        <h3>Design challenges</h3>
        <ul>
          <li>Solving whiteboard challenges</li>
          <li>Approaching app critiques</li>
          <li>The take-home challenge</li>
          <li>Why they exist and how you’re evaluated</li>
        </ul>
      </div>



      <div class="chapter">
        <img alt="Thumbnail for a chapter with closing thoughts and additional resources" src="/assets/img/images/thumb-theoffer.png">
        <h3>The offer stage</h3>
        <ul>
          <li>Determining your target comp</li>
          <li>How to research real salary figures</li>
          <li>Negotiating compensation</li>
          <li>Asking for references</li>
        </ul>
      </div>


    </div>


  </section>
