  <section class="content-preview-wrapper">
    <div class="content-preview-header">
      <div>
        <img class="icon-starburst" id="rotateOnScroll" src="./assets/img/icons/starburst.svg"></img>

        <h2>See what’s inside</h2>
        <p>Eight chapters of delicious detail.</p>
      </div>

      <button class="primary-button">Read a preview →</button>

    </div>

    <div class="chapter-preview">

      <div class="chapter">
        <img src="/assets/img/images/thumb-designportfolio.png">
        <h3>Build the portfolio</h3>
        <ul>
          <li>What forms do portfolios take?</li>
          <li>Who are they for, and what should they do?</li>
          <li>What great portfolios need</li>
          <li>Resource: Portfolio inspiration</li>
          <li>Selecting case studies</li>
          <li>Writing case studies</li>
          <li>Resource: Case study inspiration</li>
        </ul>
      </div>

      <div class="chapter">
        <img src="/assets/img/images/thumb-casestudy.png">
        <h3>Craft the case study</h3>
        <ul>
          <li>What forms do portfolios take?</li>
          <li>Who are they for, and what should they do?</li>
          <li>What great portfolios need</li>
          <li>Resource: Portfolio inspiration</li>

        </ul>
      </div>


      <div class="chapter">
        <img src="/assets/img/images/thumb-resume.png">
        <h3>Write the resume</h3>
        <ul>
          <li>What forms do portfolios take?</li>
          <li>Who are they for, and what should they do?</li>
          <li>What great portfolios need</li>
          <li>Resource: Portfolio inspiration</li>

        </ul>
      </div>


      <div class="chapter">
        <img src="/assets/img/images/thumb-applying.png">
        <h3>Find & apply to jobs</h3>
        <ul>
          <li>What forms do portfolios take?</li>
          <li>Who are they for, and what should they do?</li>
          <li>What great portfolios need</li>
          <li>Resource: Portfolio inspiration</li>

        </ul>
      </div>

      <div class="chapter">
        <img src="/assets/img/images/thumb-behavioralinterview.png">
        <h3>Tackle the behavioral interview</h3>
        <ul>
          <li>What forms do portfolios take?</li>
          <li>Who are they for, and what should they do?</li>
          <li>What great portfolios need</li>
          <li>Resource: Portfolio inspiration</li>
        </ul>
      </div>


      <div class="chapter">
        <img src="/assets/img/images/thumb-technicalinterview.png">
        <h3>Solve the technical interview</h3>
        <ul>
          <li>What forms do portfolios take?</li>
          <li>Who are they for, and what should they do?</li>
          <li>What great portfolios need</li>
          <li>Resource: Portfolio inspiration</li>

        </ul>
      </div>

      <div class="chapter">
        <img src="/assets/img/images/thumb-portfoliopresentation.png">
        <h3>Present the portfolio</h3>
        <ul>
          <li>What forms do portfolios take?</li>
          <li>Who are they for, and what should they do?</li>
          <li>What great portfolios need</li>
          <li>Resource: Portfolio inspiration</li>
        </ul>
      </div>


      <div class="chapter">
        <img src="/assets/img/images/thumb-portfoliopresentation.png">
        <h3>Closing thoughts & additional resources</h3>
        <ul>
          <li>What forms do portfolios take?</li>
          <li>Who are they for, and what should they do?</li>
          <li>What great portfolios need</li>
          <li>Resource: Portfolio inspiration</li>
        </ul>
      </div>


    </div>


  </section>
