


<div class="columns" data-aos="fade-up">

    <div class="rellax column" data-rellax-speed=".75" data-rellax-percentage="0.5">
      <img src="/assets/img/images/grid-1.png">
      <img src="/assets/img/images/grid-3.png">
    </div>

    <div class="rellax column" data-rellax-speed="-.75" data-rellax-percentage="0.5">
      <img src="/assets/img/images/grid-2.png">
      <img src="/assets/img/images/grid-6.png">
    </div>

    <div class="rellax column" data-rellax-speed=".75" data-rellax-percentage="0.5">
      <img src="/assets/img/images/grid-4.png">
      <img src="/assets/img/images/grid-5.png">
    </div>


    <!-- <div class="rellax column" data-rellax-speed="1" data-rellax-percentage="0.5">
      <img src="/assets/img/images/grid1.jpg">
      <img src="/assets/img/images/grid1.jpg">
      <img src="/assets/img/images/grid1.jpg">
    </div>

    <div class="rellax column" data-rellax-speed="-2" data-rellax-percentage="0.5">
      <img src="/assets/img/images/perfectyourportfolio.jpg">
      <img src="/assets/img/images/perfectyourportfolio.jpg">
      <img src="/assets/img/images/perfectyourportfolio.jpg">
    </div> -->
</div>
