<head>
  <!-- META SHIT -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Digital Product Designer in Seattle, WA.">
  <meta name="robots" content="index, follow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="keywords" content="the interview kit, interview guide, product design interview, free guide, product designer, minimal portfolio, photography, graphic design, ux, hci, uw, washington, seattle, design, interaction, interface, graduate, product design, digital product design, student ux, ux portfolio, visual designer, photography, pacific northwest" />
  <meta name="author" content="Oliver Engel">
  <meta name="robots" content="NOODP">



  <!-- Primary Meta Tags -->
  <title>The Interview Kit — Land a Killer Product Design Job</title>
  <meta name="title" content="The Interview Kit — Land a Killer Product Design Job">
  <meta name="description" content="Get the step-by-step guide to every part of the product design interview.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://theinterviewkit.com/">
  <meta property="og:title" content="The Interview Kit — Land a Killer Product Design Job">
  <meta property="og:description" content="Get the step-by-step guide to every part of the product design interview.">
  <meta property="og:image" content="./assets/images/img/image-sharepreview.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="og:url" content="https://theinterviewkit.com/">
  <meta property="twitter:title" content="The Interview Kit — Land a Killer Product Design Job">
  <meta property="twitter:description" content="Get the step-by-step guide to every part of the product design interview.">
  <meta property="twitter:image" content="./assets/images/img/image-sharepreview.png">



  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="/assets/hint.css">


  <!-- FAVICONS -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#e55733">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">


  <script src="https://app.lemonsqueezy.com/js/lemon.js" defer></script>
  <script src="./assets/js/poly-decomp.min.js" async></script>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/pathseg@1.2.1/pathseg.min.js"></script>


</head>
