<head>
  <!-- META SHIT -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Digital Product Designer in Seattle, WA.">
  <meta name="robots" content="index, follow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="Digital Product Designer in Seattle, WA." />
  <meta name="keywords" content="the interview kit, interview guide, product design interview, free guide, product designer, minimal portfolio, photography, graphic design, ux, hci, uw, washington, seattle, design, interaction, interface, graduate, product design, digital product design, student ux, ux portfolio, visual designer, photography, pacific northwest" />
  <meta name="author" content="Oliver Engel">
  <meta name="robots" content="NOODP">

  <title>
     {%if page.title %}
         {{ page.title }} | {{ site.title }}
     {% else %}
         {{ site.title }}
     {% endif %}
  </title>

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="/assets/hint.css">


  <!-- FAVICONS -->
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png">
  <link rel="apple-touch-icon" href="/icon-apple.png">


  <script src="https://app.lemonsqueezy.com/js/lemon.js" defer></script>
  <script src="./assets/js/poly-decomp.min.js" async></script>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/pathseg@1.2.1/pathseg.min.js"></script>


</head>
