<head>
  <!-- META SHIT -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Digital Product Designer in Seattle, WA.">
  <meta name="robots" content="index, follow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="Digital Product Designer in Seattle, WA." />
  <meta name="keywords" content="oliver engel portfolio, portfolio design, portfolio oliverengel, minimal portfolio, photography, graphic design, ux, hci, uw, washington, seattle, design, interaction, interface, graduate, product design, digital product design, student ux, ux portfolio, visual designer, photography, pacific northwest" />
  <meta name="author" content="Oliver Engel">
  <meta name="robots" content="NOODP">

  <title>
     {%if page.title %}
         {{ page.title }} | {{ site.title }}
     {% else %}
         {{ site.title }}
     {% endif %}
  </title>

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="/assets/hint.css">


  <!-- FAVICONS -->
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png">
  <link rel="apple-touch-icon" href="/icon-apple.png">

  <script type="text/plain">
    if ("serviceWorker" in navigator) {
      if (navigator.serviceWorker.controller) {
        console.log("An active service worker found, no need to register");
      } else {
        // Register the service worker
        navigator.serviceWorker
          .register("{{ site.baseurl }}/sw.js", {
            scope: "./"
          })
          .then(function (reg) {
            console.log("Service worker has been registered for scope: " + reg.scope);
          });
      }
    }
  </script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1Z6K4GGGW3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-1Z6K4GGGW3');
  </script>
  <script src="https://app.lemonsqueezy.com/js/lemon.js" defer></script>


  <!-- <script src="/assets/js/p5.min.js" async></script> -->
  <script src="./assets/js/poly-decomp.min.js" async></script>


  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/pathseg@1.2.1/pathseg.min.js"></script>


</head>
