<nav>
  <div class="nav-container">
    <a href="#" class="logo"><img id="compass" alt="" src="./assets/img/icons/compass.svg"><img alt="The Interview Kit" src="./assets/img/icons/logotext.svg"></a>

    <!-- <a href="#" class="logo"><img id="compass" alt="Compass icon" class="rotater" src="./assets/img/icons/compass.svg"><img alt="The Interview Kit" src="./assets/img/icons/logotext.svg"></a> -->
    <div class="button-group-navigation">
      <a href="https://theinterviewkit.lemonsqueezy.com/checkout/buy/d2834f66-cbe3-4dba-b19b-c747c1b3246f?embed=1&dark=1" class="lemonsqueezy-button"><button class="secondary-button small-button">Read a preview</button></a>
      <a href="https://theinterviewkit.lemonsqueezy.com/checkout/buy/32e45c8d-de77-4654-91d6-6a924a8e4f53"><button class="primary-button small-button">Purchase · $25</button></a>
    </div>
  </div>
</nav>
