<nav>
  <div class="nav-container">
    <a href="#" class="logo"><img id="compass" class="rotater" src="./assets/img/icons/compass.svg"><img src="./assets/img/icons/logotext.svg"></a>
    <div class="button-group">
      <button class="secondary-button small-button">Read a preview</button>
      <a class="lemonsqueezy-button" href="https://theinterviewkit.lemonsqueezy.com/checkout/buy/64605bf4-77ed-498c-b12d-0a49d90b2509?embed=1&media=0&dark=1"><button class="primary-button small-button">Purchase · $25</button></a>
    </div>
  </div>
</nav>
