---
title: home
layout: default
---

<body>

  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({ disable: 'mobile' });
  </script>

  {% include navigation.html %}

  <script src="/assets/js/matter.min.js" defer></script>
  <script src="/assets/js/sketch.js" defer></script>


<div class="container" id="nav-appear">

  <div class="column left" >

    <a href="#" class="logo-large"><img id="compass" alt="" src="./assets/img/icons/compass.svg"><img alt="The Interview Kit" src="./assets/img/icons/logotext.svg"></a>

    <div class="column-wrapper" data-aos="fade-up" data-aos-duration="1000">

      <div class="hero-text" >
        <h1>Land a <span class="emphasis-underline" >killer</span> job in product design</h1>
        <p>Get the step-by-step guide to the product design interview process.</p>

        <p class="show-on-mobile" id="mobile-scroll-hint">Learn more <span class="bounce">↓</span></p>
      </div>

      <div class="button-group hide-on-mobile">
        <a href="https://www.figma.com/community/file/1268352321000064567"><button class="primary-button">Download on Figma →</button></a>
        <!-- <a href="https://theinterviewkit.lemonsqueezy.com/checkout/buy/d2834f66-cbe3-4dba-b19b-c747c1b3246f?embed=1&dark=1" class="lemonsqueezy-button"><button class="secondary-button">Read a preview</button></a> -->
      </div>

    </div>

    <p class="subhead" id="scroll-hint">learn more <span class="bounce">↓</span></p>




  </div>
  <div class="column right" id="canvas" data-aos="fade-up" data-aos-duration="2000">
          <!-- content for right column goes here -->
  </div>


</div>

<div class="spacer-12x"></div>



<div class="horizontal-margin">
<!-- <div class="full-width-bg-green"> -->
  <div class="about-interview-kit">
    <p class="subhead">Jumpstart your job search</p>
    <h2><span class="emphasis-underline">The Interview Kit</span> is a comprehensive guide to getting a job in product design.</h2>
  </div>


  <picture data-aos="fade-up">
    <source srcset="./assets/img/images/pages-desktop.png">
    <!-- <source media="(max-width: 1023px)" srcset="./assets/img/images/pages-mobile.png"> -->
    <img class="image-large" src="./assets/img/images/pages-desktop.png" alt="Image of pages from a Notion document containing snippets from the product">
  </picture>


<div>
  <div class="about-interview-kit">
    <p>Everything you need to know to land a product design job, from the resume to the on-site. All packaged into a delightful little guide.</p>
  </div>



  <div class="two-column">
    <div>
      <img class="icon-small" alt="" src="./assets/img/icons/icon-portfolio.svg"></img>

      <p class="body-small-emphasized">Build a portfolio</p>
      <p class="body-small">Learn how to level up your portfolio and how to showcase your work like a pro.</p>

    </div>

    <div>
      <img class="icon-small" alt="" src="./assets/img/icons/icon-casestudy.svg"></img>

      <p class="body-small-emphasized">Craft your case studies</p>
      <p class="body-small">Show employers compelling stories about your best design work.</p>

    </div>


  </div>


  <div class="two-column">

    <div>
      <img class="icon-small" alt="" src="./assets/img/icons/icon-technical.svg"></img>

      <p class="body-small-emphasized">Solve design challenges</p>
      <p class="body-small">Know what to expect with technical evaluations like design challenges and app critiques.</p>

    </div>

    <div>
      <img class="icon-small" alt="" src="./assets/img/icons/icon-interview.svg"></img>

      <p class="body-small-emphasized">Ace the interviews</p>
      <p class="body-small">Detailed guides to on-site interviews, screener calls, hiring manager 1:1s, and more.</p>

    </div>


  </div>

</div>

  <img class="divider" alt="" src="./assets/img/icons/divider.svg">


  <div class="about-interview-kit">
    <p class="subhead">Goes down easy</p>
    <h2>Created in Figma with tons of <span class="emphasis-underline">juicy examples</span> and visuals.</h2>
  </div>

    {% include grid.html %}



    <div style="padding-bottom: 64px;">
        <div class="about-interview-kit" >
          <p>Eight chapters of guides, examples, tips & tricks that'll help you land your next (or first) role as a product designer. Written with expert insight about the interview process.</p>
        </div>

      <div class="two-column">
        <div>
          <img class="icon-small" alt="" src="./assets/img/icons/icon-beginner.svg"></img>

          <p class="body-small-emphasized">Great for early-career designers</p>
          <p class="body-small">Looking for your first internship or full-time job? No problem – this kit is created with you in mind.</p>

        </div>

        <div>
          <img class="icon-small" alt="" src="./assets/img/icons/icon-experienced.svg"></img>

          <p class="body-small-emphasized">...And also more experienced ones</p>
          <p class="body-small">Even if you've interviewed before, The Interview Kit is the perfect refresher for your next job hunt.</p>

        </div>
      </div>
    </div>


  <img class="divider" alt="" src="./assets/img/icons/divider.svg">


  <div class="about-interview-kit">
    <p class="subhead">Craft your story & stand out</p>
    <h2>Interviewing is all about <span class="emphasis-underline">telling a story.</span> Learn how to tell a great one.</h2>
  </div>


  <picture data-aos="fade-up">
    <source media="(min-width: 1024px)" srcset="./assets/img/images/image-story-desktop.png">
    <source media="(max-width: 1023px)" srcset="./assets/img/images/image-story-mobile.png">
    <img class="image-large" src="./assets/img/images/pages-desktop.png" alt="Image of pages from a Notion document containing snippets from the product">
  </picture>




  <div>
      <div class="about-interview-kit">
        <p>Learn how to tell stories about your work and design experience. Get inspired by examples from great designers and companies.</p>
      </div>

    <div class="two-column">
      <div>
        <img class="icon-small" alt="" src="./assets/img/icons/icon-cheatsheet.svg"></img>

        <p class="body-small-emphasized">Your interviewing cheat sheet</p>
        <p class="body-small">Get insights on the questions you'll be asked in every interview, and how to answer them.</p>

      </div>

      <div>
        <img class="icon-small" alt="" src="./assets/img/icons/icon-standout.svg"></img>

        <p class="body-small-emphasized">Make your story stand out</p>
        <p class="body-small">Most designers tell the same stories about their work. Learn how to tell yours like an expert.</p>

      </div>
    </div>
  </div>
  <!-- <img class="divider" src="./assets/img/icons/divider.svg"> -->


</div>


{% include content-preview.html %}


<div class="horizontal-margin">

  <div class="inline-CTA">

    <img data-aos="fade-up" alt="Three pages from The Interview Kit." src="./assets/img/images/image-readytointerview.png"></img>
    <h2>Ready to interview?</h2>
    <p>Get immediate access to The Interview Kit for free.</p><br>

    <div class="button-group" style="padding-top: 24px">
      <a href="https://www.figma.com/community/file/1268352321000064567"><button class="primary-button">Download on Figma →</button></a>
    </div>
  </div>
</div>



<!-- <div class="horizontal-margin"> -->

  <!-- <img class="divider" alt="" src="./assets/img/icons/divider.svg"> -->


  <div class="note" data-aos="fade-up" data-aos-duration="1000" >

      <img alt="A photograph of the author." src="./assets/img/images/profile-picture.png"></img>
      <p>Hello! My name is <a href="https://oliverengel.com/">Oliver</a>.</p><br>

    <p>I’m a Senior Product Designer at <a href="https://joinhandshake.com/">Handshake</a> and graduate of University of Washington’s <a href="https://mhcid.washington.edu/">Master of Human-Computer Interaction + Design</a> program. I created this guide because it’s something I wish I had when I was breaking into product design.</p>
    <br>
    <p>Throughout my years in design, I’ve been fortunate enough to interview with dozens of different companies and also help interview countless product design candidates. This kit is intended to share my experience and advice from being on both sides of the interview process.</p>
    <br>
    <p>This kit is also informed by research and discussions with recruiters, design managers, and other product designers. If you have any questions prior to purchasing, please feel free to reach out to me at <a href="mailto:oliverengel6@gmail.com">oliverengel6@gmail.com</a>.</p>
  </div>





<!-- <img class="divider" src="./assets/img/icons/divider.svg"> -->

<div class="bottom-bar">
  <div class="button-group">
    <a href="https://www.figma.com/community/file/1268352321000064567"><button class="primary-button">Download on Figma →</button></a>
    <!-- <a href="https://theinterviewkit.lemonsqueezy.com/checkout/buy/d2834f66-cbe3-4dba-b19b-c747c1b3246f?embed=1&dark=1" class="lemonsqueezy-button"><button class="secondary-button ">Read a preview</button></a> -->
    
  </div>

</div>

    {% include footer.html %}

</body>

<script src="./assets/js/rellax.min.js"></script>

<!-- <script src="./assets/js/matter.min.js"></script> -->




<script>
  var rellax = new Rellax('.rellax');


  window.onscroll = function () {
    scrollRotate();
  };

  function scrollRotate() {
      let image = document.getElementById("rotateOnScroll");
      image.style.transform = "rotate(" + window.pageYOffset/8 + "deg)";
  }

  // Navigation
  const nav = document.querySelector('nav');
  const navAppear = document.querySelector('#nav-appear');

  const observer = new IntersectionObserver((entries) => {
    if (entries[0].isIntersecting) {
      nav.classList.remove('visible');

    } else {
      nav.classList.add('visible');
    }
  });

  observer.observe(navAppear);




</script>
